body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b1faee;
}

.quiz-container {
    text-align: center;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#choices button {
    display: block;
    margin: 0.5rem 0;
    padding: 0.75rem 1.5rem;
    width: 100%;
    background-color: hsl(320, 33%, 98%);
    color: #100f0f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#choices button:hover {
    background-color: hwb(180 100% 0%);
}

.hide {
    display: none;
}
